
body {
	background-color: #001;
	background-image: url("../images/watercolor.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
	align-items: center;
	display: block;
	justify-content: center;
	background-color: #e6ffff;
	font-size: 30px;
	font-color: #001;
	text-align: center;

}

h1 {
	color: #0000e6; 
	font-family: 'Lobster', serif;
	font-size: 60px; 
	font-weight: normal;
	margin-left: 20px;
	margin-top: 40px; 
	text-align: center; 
}

#timer #middle {
	
}




#start {
	align-items: center;
	display: flex;
	justify-content: center;

}

.btn {
	align-items: center;
	background-color: #ff00bf;
	color: white;

}

.footer {
	background-color: #ff00bf;
	border-top: solid;
	border-color: #00e6e6;
	color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}